#titulo{
    color: blue;
    background-color: rgb(230, 230, 241);
    text-align: center;
}

.paragrafo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.procura{
    font-size: 30px;
    margin-left: 10%;
    margin-top: -50%;
    width: 40%;
 
}


.icones{
    width: 65px;
    margin-left: 57%;
    margin-top: 45px;
    width: 4%;
    cursor: pointer;
}
.conta{
    margin-left: 77.9%;
    position: absolute;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.form{
    width: 65px;
    margin-top: 45px;
    margin-left: 28px;
    cursor: pointer;    
}

.pedidos{
    margin-left: 83.5%;
    position: absolute;
    font-size: 20px;
    color: green;
    cursor: pointer;
}

.card{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: 18rem;
}

.nav-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    
}

#banner-topo {
    margin-top: 55px;
}

#list-cards {
    width: 100%;
    position: absolute;
    left: 4%;
    margin-bottom: 10%;
}

#banner-fim {
    display: block;
    margin: 0% 10% 0% 10%;
    margin-top: 150%;
}

footer {
    margin-top: 2%;
    background-color: aqua;
    height: 300px;
}





/*
  Variáveis
*/

:root {
    --main-color: #407bff;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
  }
  
  /*
    Fontes
  */
  
  @font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  /*
    Zerar estilos
  */
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  input, button {
      outline: none !important;
      border: none;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  /*
    Utilitários
  */
  
  .text1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--text1);
    line-height: 1.5;
  }
  
  .text2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
  }
  
  .margin-bottom-35 {
    margin-bottom: 35px;
  }
  
  .margin-top-35 {
    margin-top: 35px;
  }
  
  .margin-bottom-8 {
    margin-bottom: 8px;
  }
  
  .margin-top-8 {
    margin-top: 8px;
  }
  
  .margin-left-50 {
    margin-left: 50px;
  }
  
  /*
    Login
  */
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--white-color);  
  }
  
  .wrap-login {
    width: 370px;
    margin-right: 50px;
    background: var(--white-color);
  }
  
  /*
    Formulário
  */
  
  .login-form {
    width: 100%;
  }
  
  .login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: var(--highligth-text);
    line-height: 1.2;
    text-align: center;
  }
  
  /*
    Input
  */
  
  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--line-input);
  }
  
  .input-form {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
  }
  
  .focus-input-form {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input-form::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: var(--main-color);
  }
  
  .focus-input-form::after {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: var(--text1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
  }
  
  .input-form:focus + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .input-form:focus + .focus-input-form::before {
    width: 100%;
  }
  
  .has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .has-val.input-form + .focus-input-form::before {
    width: 100%;
  }
  
  /*
    Botão
  */
  
  .container-login-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: var(--white-color);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: all 0.4s;
  }
  
  .login-form-btn:hover  {
    background-color: var(--highligth-text);
  }
  
  /*
    Links - Login utils
  */
  
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: var(--link-color);
      margin: 0px;
      transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: var(--highligth-text);
  }
  
  /* login utilis */
  
  .login-utils {
    margin-top: 20px;
  }
  
  .login-utils li {
    position: relative;
    padding-left: 16px;
  }
  
  .login-utils li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--point-list);
    top: 45%;
    transform: translateY(-50%);
    left: 0;
  }

  










    
  html, body {
	height: 100%;
}

body {
	margin: 0;
	
	padding: 0;
	
	background-color: #aaa;
	
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 500px;
	
	margin: 100px auto;
}

.cart-container {
	border-radius: 8px;
	
	box-shadow: 0 5px 20px rgb(120, 120, 120);
}

.cart-body {
	background-image: linear-gradient(#f9f9f9,#ccc)
}

.cart-item {
	padding: 15px 20px 0 20px;
}

.cart-row {
	display: flex;

	padding: 15px 0;
	
	flex-direction: row;

	border-bottom: #ccc 1px solid;
}

.cart-row:last-of-type {
	border-bottom: #bbb 1px solid;
}

.cart-row-cell {
	height: 50px;
}

.cart-row .pic {
	flex: 1;
	
	position: relative;
}

.cart-row .pic a {
	top: -5px;

	left: -5px;

	width: 20px;

	height: 20px;

	color: #000;

	font-size: 1em;

	text-align:center;

	position: absolute;

	border-radius: 10px;

	text-decoration: none;

	display: inline-block;

	background-color: #fff;

	border: #dadada 1px solid;

	box-shadow: 2px 2px 2px rgb(160,160,160);
}

.cart-row .pic span {
	width: 50px;

	height: 50px;

	border-radius: 30px;
	
	display: inline-block;

	background-size: contain;
	
	background-image: url(/img/ssd.jpeg);
}


.cart-row .desc {
	flex: 3;
}

.cart-row .desc h5 {
	margin: 10px 0 0;
}

.cart-row .desc p {
	margin: 5px 0 0;

	font-size: 0.75em;
}

.cart-row .quant {
	flex: 2;
}

.cart-row .quant ul {
	list-style: none;
}

.cart-row .quant ul li {
	display: inline-block;

	font-size: 1.5em;

	padding: 0 5px;
}

.cart-row .quant ul li a {
	color: #000;

	text-decoration: none;
}

.cart-row .amount {
	flex: 1;
}

.cart-row .amount p {
	margin: 23px 0 0 0;
}

.cart-container header {
	color: #fff;
	
	background-color: #006CB5;
	
	border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
}

.cart-container header h3 {
	margin: 0;
	
	padding: 20px;
}

.cart-container footer {
	padding: 20px;
	
	text-align: center;
	
	background-color: #ccc;

	border-bottom-left-radius: 8px;
	
	border-bottom-right-radius: 8px;
}

.cart-container footer button {
	color: #fff;
	
	border: none;
	
	font-size: 1em;
	
	padding: 5px 15px;
	
	background-color: #006CB5;
}

.cart-container footer .totals {
	display: flex;

	flex-direction: row;
}

.cart-container footer .totals p{
	margin: 5px 0;
}

.cart-container footer .total-label {
	flex: 1;

	text-align: left;
}

.cart-container footer .total-amount {
	flex: 1;

	text-align: right;
}


/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #415aca;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}

